@using Microsoft.AspNet.Identity
@model Lab03_BuiNguyenTruongGiang.ViewModels.CoursesViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <ul class="course">
        @foreach (var item in Model.UpcommingCourses)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @item.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @item.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <span class="lecturer">
                        @item.Lecturer.Name
                    </span>
                    @if (@User.Identity.GetUserId() != item.LecturerId)
                    {
                        if (Model.ShowAction)
                        {
                            if (!Model.FollowingList.Any(p => p.FolloweeId == item.LecturerId))
                            {
                                <button class="btn btn-default btn-sm js-toogle-follow" data-user-id="@item.LecturerId">Follow</button>
                            }
                            else
                            {
                                <button class="btn btn-info btn-sm js-toogle-follow" data-user-id="@item.LecturerId">Following</button>
                            }
                        }
                    }
                    <br />
                    <span class="category">
                        @item.Category.Name
                    </span>
                    @if (@User.Identity.GetUserId() != item.LecturerId)
                    {
                        if (Model.ShowAction)
                        {
                            if (!Model.AttendanceList.Any(p => p.CourseId == item.Id))
                            {
                                <button data-course-id="@item.Id" class="btn btn-default btn-sm js-toogle-attendance">Go</button>
                            }
                            else
                            {
                                <button data-course-id="@item.Id" class="btn btn-info btn-sm js-toogle-attendance">Going</button>
                            }
                        }
                    }
                </div>
            </li>
        }
    </ul>
</div>

@section scripts
    {
    <script>
        $(document).ready(function () {
            $(".js-toogle-attendance").click(function (e) {
                var button = $(e.target);
                if (button.text() === "Go") {
                    $.post('/api/attendances/goingattend', { courseId: button.attr("data-course-id") })
                        .done(function () {
                            button
                                .removeClass("btn-default")
                                .addClass("btn-info")
                                .text("Going");
                        })
                        .fail(function () {
                            alert("Something failed!");
                        });
                }
                else {
                    $.post('/api/attendances/goattend', { courseId: button.attr("data-course-id") })
                        .done(function () {
                            button
                                .removeClass("btn-info")
                                .addClass("btn-default")
                                .text("Go");
                        })
                        .fail(function () {
                            alert("Something failed!");
                        });
                }
            });
            
            $(".js-toogle-follow").click(function (e) {
                var button = $(e.target);
                if (button.text() === "Follow") {
                    $.post("/api/followings/follow", { followeeId: button.attr("data-user-id") })
                        .done(function () {
                            button
                                .removeClass("btn-default")
                                .addClass("btn-info")
                                .text("Following");
                        })
                        .fail(function () {
                            alert("Something failed!");
                        })
                }
                else {
                    $.post("/api/followings/unfollow", { followeeId: button.attr("data-user-id") })
                        .done(function () {
                            button
                                .removeClass("btn-info")
                                .addClass("btn-default")
                                .text("Follow");
                        })
                        .fail(function () {
                            alert("Something failed!");
                        })
                }
            });
        })
    </script>
}