@using Microsoft.AspNet.Identity
@model Lab03_BuiNguyenTruongGiang.ViewModels.CoursesViewModel
@{
    ViewBag.Title = "Attending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Attending</h2>

<ul class="course">
    @foreach (var item in Model.UpcommingCourses)
    {
        <li>
            <div class="date">
                <div class="month">
                    @item.DateTime.ToString("MM")
                </div>
                <div class="day">
                    @item.DateTime.ToString("dd")
                </div>
            </div>
            <div class="details">
                <span class="lecturer">
                    @item.Lecturer.Name
                    @if (item.IsCanceled)
                    {
                        <span class="label label-warning"></span>
                    }
                    @if (Model.ShowAction && !item.IsCanceled)
                    {
                        if (!Model.FollowingList.Any(p => p.FolloweeId == item.LecturerId))
                        {
                            <button class="btn btn-default btn-sm js-toogle-follow" data-user-id="@item.LecturerId">Follow?</button>
                        }
                        else
                        {
                            <button data-course-id="@item.Id" class="btn btn-info btn-sm js-toogle-attendance">Following</button>
                        }
                    }
                </span>
                <br />
                <span class="category">
                    @item.Category.Name
                </span>
                @if (Model.ShowAction)
                {
                    if (!Model.AttendanceList.Any(p => p.CourseId == item.Id))
                    {
                        <button data-course-id="@item.Id" class="btn btn-default btn-sm js-toogle-attendance">Going?</button>
                    }
                    else
                    {
                        <button data-course-id="@item.Id" class="btn btn-info btn-sm js-toogle-attendance">Going</button>
                    }
                }
            </div>
        </li>
    }
</ul>